body {
    background-color: #808080;
    text-align: center;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
    font-size: 36px;
}

#menu {
    background-color: #5c5c5c;  
    position: sticky; 
    top: 0;
    padding: 20px;
    display: block;
}

#menu a {
    display: inline-block;
}

a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

a:link {
    color: #ff9900;
}
  
a:visited {
    color: #ff9900;
}

a:hover {
    color: #ff9900;
}

a:active {
    color: #ff9900;
} 

#content {
    width: 1600px;
    height: 2000px;
    background: #3D3D3D;
    margin-left: auto;
    margin-right: auto;
}