body {
    background-color: #808080;
}

#container {
    width: 1600px;
    height: 2000px;
    background: #3D3D3D;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    color: white;
    font-size: 36px;
}