body {
    background-color: #808080;
    text-align: center;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #ffc72c;
    font-size: 36px;
}

#menu {
    margin: 0;
    background-color: #5c5c5c;
    position: sticky;
    top: 0;
    padding: 20px;
    display: block;
    list-style-type: none;
}

#menu>li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #808080;
    opacity: 0.75;
    transition-duration: 400ms;
}

#menu>li:hover {
    opacity: 1;
}

#menu>li:first-child {
    border-left: 1px solid #808080;
}

a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

a:link {
    color: #ffc72c;
}

a:visited {
    color: #ffc72c;
}

a:hover {
    color: #ffc72c;
}

a:active {
    color: #ffc72c;
}

#content {
    width: 1600px;
    height: 2000px;
    background: #3D3D3D;
    margin-left: auto;
    margin-right: auto;
}